@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Oswald:wght@700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

:root {
    --fuenteprincipal: 'Open Sans', sans-serif;
    --fuentesecundaria: 'Oswald', sans-serif;
    --colorprincipal: #aca9a9;
    --colorsecundario: #1e2027;
    --fontsize: 1.25em;
    --margingrid: 10px;
    --anchomaximo: 1100px;
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;;
    font-size: var(--fontsize);
}



/* inicio del header */
header{
    
    background-color: var(--colorprincipal);
    font-family: var(--fuenteprincipal);
    
}
header #wrapper{
    padding: 20px 0px;
    
}

header .container {
    display: flex;
    justify-content: space-around;
    max-width: var(--anchomaximo);
    
    
    
}

header .container #tarea {
    padding: 10px;
    height: auto;
    font-weight: bold;
    margin-left: 0px;
    
    
    
    
}

header .container #prioridad{
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    

}


header .container #botonGuardar input{
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    
}


header .container .hamburguesaMenu {
    float: right;
    width: 2em;
    cursor: pointer;
}

header .container .hamburguesaMenu div{
    border-top: 2px solid rgb(252, 250, 250);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* fin de header */



/* inicio del main */

main {
    background-color: var(--colorsecundario);
    padding: 10px;
}


main .container{
    display: flex;
    justify-content: space-around;
    max-width: var(--anchomaximo);
}

main .container #prioridad {
    padding: 5px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    
}


main .container #tarea {
    padding: 5px;
    height: auto;
    font-weight: bold;
    

}

/* final del main */
